@{
    ViewBag.Title = "Home Page";
}

<br />
<div style="width:1000px; margin:0 auto;">
    <img alt="MaerskLine" src="@Url.Content("~/images/Maersk_Line_Logo.png")">
    <img alt="MaerskLine" src="@Url.Content("~/images/home.png")">

</div>