@{
    ViewBag.Title = "Home Page";
}

<br />
<div style="width:1000px; margin:0 auto;">
    <img alt="MaerskLine" src="@Url.Content("http://inside-industry.org.uk/wp-content/uploads/with_maersk.jpg")">
    <img alt="MaerskLine" src="@Url.Content("http://3kbo302xo3lg2i1rj8450xje.wpengine.netdna-cdn.com/wp-content/uploads/2014/01/Maersk-Triple-E-Lego-Set.png")">

</div>