<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddacmaerskline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddacmaerskline.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ddacmaerskline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ddacmaerskline</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MaerskLineDDAC.Models.MaerskLineEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=lawrenceddac.database.windows.net;Initial Catalog=MaerskLine;Persist Security Info=True;User ID=lawrence;Password=Password#1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MaerskLineDDAC.Models.MaerskLineEntities, MaerskLineDDAC" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=lawrenceddac.database.windows.net;Initial Catalog=MaerskLineIdentity;Persist Security Info=True;User ID=lawrence;Password=Password#1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MaerskLineDDAC.Models.ApplicationDbContext, MaerskLineDDAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lawrenceddac.database.windows.net;Initial Catalog=MaerskLineIdentity;Persist Security Info=True;User ID=lawrence;Password=Password#1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MaerskLineDDAC.Models.MaerskLineEntities-Web.config Connection String">
      <ParameterValue>Data Source=lawrenceddac.database.windows.net;Initial Catalog=MaerskLine;Persist Security Info=True;User ID=lawrence;Password=Password#1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>